.text__inherit__forced{
    color: inherit !important;
}
.list__tabs__style{
    transition:400ms  !important;
    margin: 4px !important;
    border-radius: 10px !important;
}
.list__tabs__style:hover {
    background-color:rgb(14 165 233) !important;
}
.list__tabs__style[aria-selected="true"] {
    background-color:rgb(14 165 233) !important;
}